id: salesforce_mock
protocol: rest
base_path: /api/salesforce
resources:
  - name: accounts
    endpoints:
      - method: GET
        path: /accounts
        paginated: true
      - method: POST
        path: /accounts
      - method: GET
        path: /accounts/{id}
  - name: opportunities
    endpoints:
      - method: GET
        path: /opportunities
        paginated: true
      - method: POST
        path: /opportunities
auth:
  type: oauth2_client_credentials
  token_ttl_seconds: 3600
  rotate_token_every_calls: 100
rate_limit:
  max_rps: 10
  burst: 20
error_profile: aggressive_rate_limit
network_profile: normal
schema:
  version: 1
  fields:
    - name: id
      type: string
    - name: account_name
      type: string
    - name: industry
      type: string
    - name: revenue
      type: number
    - name: created_at
      type: string
drift_schedule:
  - trigger: calls_count
    threshold: 50
    action: rename_field
    from_field: account_name
    to_field: name
tenants:
  - id: tenant1
    rate_limit_override:
      max_rps: 5
      burst: 10